<style type="text/css">
  .newsletter__subheading p{color: #fff; }
  #shopify-section-template--21297418272802__newsletter_DHGara .newsletter__wrapper h2 {
  color: #fff;
  font-size: 32px;
  position: left;
  font-weight: normal;
}
  .newsletter__wrapper {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 80px;
}
.newsletter__wrapper h2 {
  color: lightblue;
  position: left;
  font-weight: bold;
}
.newsletter__subheading {
  margin: 0;
  margin-top: 1rem;
  text-align: left;
}
.newsletter-form {
  width: 30rem;
}
.newsletter-form__button {
  color: black;
}
.newsletter-form__button:hover {
  border: 1px solid black;
}
.inline-flex {
  display: flex;
  text-decoration: none;
  margin-bottom: 12px;
  line-height: 24px;
}
.inline-flex svg {
  width: 1.6rem;
  margin-right: .5rem;
}
.inline-flex span {
  color: white !important;
}
.mob-icon {
  height: 20px;
}
.mob-no {
  line-height: 20px;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var emailInput = document.getElementById('NewsletterForm--{{ section.id }}');
  
    emailInput.addEventListener('focus', function() {
      this.placeholder = '';
    });
  
    emailInput.addEventListener('blur', function() {
      if (!this.value) {
        this.placeholder = 'ENTER YOUR EMAIL';
      }
    });
  });  
</script> 

{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
<!-- NEWSLETTER STARTS -->
<div id="shopify-section-template--21297418272802__newsletter_DHGara">
  <div class="newsletter__wrapper page-width">
<div class="footer-block--newsletter">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            <h2 class="h2">BE THE FIRST TO KNOW</h2>
            {%- if section.settings.newsletter_heading != blank -%}
              <div class="newsletter__subheading"><p>{{ section.settings.newsletter_heading | escape }}</p></div>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="ENTER YOUR EMAIL"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    ENTER YOUR EMAIL
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    Subscribe
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
  </div>
</div>
<hr>
<!-- NEWSLETTER ENDS --> 
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                    {% comment %} {{ block.settings.subtext }} {% endcomment %}
                     <a class="inline-flex" href="mailto:art@kynkyny.com" target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 27.89 18.69">
                        <defs>
                          <style>
                            .cls-f {
                              fill: #fff;
                              stroke-width: 0px;
                            }
                          </style>
                        </defs>
                        <g id="Layer_1-2" data-name="Layer 1">
                          <g id="tRlgo8">
                            <path class="cls-f" d="m13.94,18.69c-4.42,0-8.83,0-13.25,0-.56,0-.69-.12-.69-.65C0,12.24,0,6.45,0,.65,0,.13.14,0,.69,0,9.52,0,18.35,0,27.19,0c.57,0,.71.13.71.66,0,5.79,0,11.57,0,17.36,0,.54-.13.66-.7.66-4.42,0-8.83,0-13.25,0ZM1.7.91c.07.07.09.1.12.12,3.68,3.21,7.35,6.42,11.03,9.63.66.57,1.52.58,2.18,0,3.67-3.2,7.34-6.41,11.01-9.61.04-.04.07-.09.12-.15H1.7Zm-.02,16.86h24.52c-3.02-2.63-5.99-5.23-8.96-7.82-.51.44-.99.86-1.46,1.28-1.18,1.03-2.5,1.03-3.68,0-.48-.42-.97-.84-1.47-1.28-2.98,2.6-5.94,5.19-8.95,7.82Zm25.25-.58V1.49c-3.02,2.63-6,5.24-8.99,7.85,3.01,2.62,5.99,5.23,8.99,7.85ZM.95,1.49v15.71c3.01-2.63,5.99-5.23,8.99-7.86C6.94,6.72,3.97,4.12.95,1.49Z"/>
                          </g>
                        </g>
                      </svg>
                      <span>art@kynkyny.com</span>
                     </a>
                     <a class="inline-flex" href="#" target="_blank">
                      <svg class="mob-icon" xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 17.09 28.48">
                        <defs>
                          <style>
                            .cls-f {
                              fill: #fff;
                              stroke-width: 0px;
                            }
                          </style>
                        </defs>
                        <g id="Layer_1-2" data-name="Layer 1">
                          <g id="EKu97B">
                            <g>
                              <path class="cls-f" d="m1.63,28.48c-.09-.03-.17-.07-.26-.1C.54,28.11,0,27.4,0,26.57,0,18.35,0,10.14,0,1.93,0,.85.88,0,2.01,0c4.36,0,8.72,0,13.08,0,1.12,0,2,.85,2,1.93,0,8.2,0,16.41,0,24.61,0,.87-.55,1.59-1.42,1.86-.07.02-.14.05-.21.08H1.63Zm-.7-14.25c0,4.03,0,8.07,0,12.1,0,.86.41,1.26,1.31,1.26,4.2,0,8.41,0,12.61,0,.9,0,1.31-.4,1.31-1.26,0-8.07,0-16.13,0-24.2,0-.84-.42-1.25-1.29-1.25-4.21,0-8.43,0-12.64,0-.88,0-1.29.4-1.29,1.25,0,4.03,0,8.07,0,12.1Z"/>
                              <path class="cls-f" d="m8.53,27.04c-.87,0-1.56-.67-1.55-1.51,0-.82.73-1.5,1.58-1.49.86,0,1.56.69,1.55,1.52,0,.83-.71,1.49-1.58,1.48Zm.64-1.51c-.01-.33-.3-.59-.65-.58-.34,0-.63.29-.62.61.01.32.31.59.65.58.34,0,.62-.3.61-.61Z"/>
                              <path class="cls-f" d="m8.55,2.84c-.48,0-.97,0-1.45,0-.34,0-.53-.17-.53-.45,0-.27.19-.43.52-.43.97,0,1.94,0,2.91,0,.34,0,.53.17.53.46,0,.27-.19.43-.52.43-.48,0-.97,0-1.45,0Z"/>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <span class="mob-no">+916366559090</span>
                     </a>
                     <a class="inline-flex" href="https://www.instagram.com/kynkynyart/?hl=en" target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 28.27 27.06">
                        <defs>
                          <style>
                            .cls-f {
                              fill: #fff;
                              stroke-width: 0px;
                            }
                          </style>
                        </defs>
                        <g id="Layer_1-2" data-name="Layer 1">
                          <g id="Mvh4iT">
                            <g>
                              <path class="cls-f" d="m28.26,13.54c0,2.01,0,4.02,0,6.02-.01,2.4-.96,4.39-2.92,5.9-1.41,1.09-3.05,1.58-4.86,1.58-4.22,0-8.45,0-12.67,0-3.62,0-6.6-2.16-7.51-5.45-.18-.65-.26-1.34-.27-2.02C0,15.54,0,11.51,0,7.48.02,4,2.24,1.17,5.69.28,6.36.1,7.08.02,7.77.02,12.01,0,16.24,0,20.48,0c3.62.01,6.6,2.17,7.5,5.46.18.67.25,1.38.27,2.08.03,2,.01,4,.01,5.99Zm-26.98-.02c0,2.02,0,4.03,0,6.05,0,.43.02.87.11,1.29.62,2.95,3.13,4.95,6.27,4.97,4.31.02,8.63.01,12.94,0,.5,0,1.01-.06,1.49-.17,2.87-.67,4.85-3.01,4.88-5.84.03-4.2.01-8.4,0-12.59,0-.33-.03-.67-.1-1-.61-2.95-3.14-4.98-6.28-4.99-4.31-.02-8.63,0-12.94,0-.39,0-.79.03-1.17.1C3.37,1.93,1.29,4.36,1.28,7.41c0,2.04,0,4.07,0,6.11Z"/>
                              <path class="cls-f" d="m14.15,6.16c4.24,0,7.69,3.32,7.68,7.38,0,4.06-3.47,7.36-7.71,7.36-4.24,0-7.69-3.32-7.68-7.38,0-4.06,3.47-7.36,7.71-7.35Zm6.43,7.38c0-3.39-2.87-6.16-6.42-6.18-3.53-.02-6.44,2.75-6.46,6.14-.02,3.4,2.89,6.19,6.44,6.19,3.54,0,6.44-2.76,6.45-6.15Z"/>
                              <path class="cls-f" d="m23.1,4.92c0,.67-.56,1.21-1.25,1.22-.7,0-1.28-.55-1.27-1.23,0-.67.57-1.21,1.27-1.2.7,0,1.26.54,1.26,1.21Z"/>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <span>@kynkynyart</span>
                     </a> 
                     <a class="inline-flex" href="https://www.facebook.com/kynkyny" target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 27.27 26.1">
                        <defs>
                          <style>
                            .cls-f {
                              fill: #fff;
                              stroke-width: 0px;
                            }
                          </style>
                        </defs>
                        <g id="Layer_1-2" data-name="Layer 1">
                          <g id="hHfmen">
                            <path class="cls-f" d="m20.98,13.04h-.65c-1.14,0-2.29,0-3.43,0-.56,0-.76-.19-.76-.71,0-.72,0-1.45,0-2.17,0-1.1.77-1.83,1.91-1.84.89,0,1.78,0,2.67,0,.11,0,.21,0,.37,0v-2.38c-.11,0-.19-.02-.27-.02-.95,0-1.9,0-2.85,0-2.41.01-4.33,1.86-4.34,4.16,0,.75,0,1.5,0,2.25,0,.49-.22.71-.75.71-.56,0-1.12,0-1.72,0,0,.11-.02.21-.02.31,0,.59.01,1.19,0,1.78,0,.27.09.33.35.32.48-.02.97,0,1.45,0,.46,0,.69.22.69.64,0,3.12,0,6.25,0,9.37,0,.38-.22.6-.62.64-.06,0-.12,0-.17,0-3.4,0-6.8,0-10.2,0-1.58,0-2.63-1-2.63-2.51C0,16.56,0,9.54,0,2.51,0,1.01,1.05,0,2.61,0c7.35,0,14.7,0,22.05,0,1.54,0,2.6,1,2.6,2.48,0,7.05,0,14.09,0,21.14,0,1.48-1.06,2.48-2.6,2.48-2.59,0-5.17,0-7.76,0-.57,0-.77-.2-.77-.74,0-3.07,0-6.14,0-9.21,0-.53.2-.71.76-.71,1.13,0,2.27,0,3.4,0,.14,0,.27.02.3-.17.12-.73.25-1.46.39-2.23Zm-3.62,11.89h.32c2.31,0,4.63,0,6.94,0,.93,0,1.41-.46,1.41-1.35,0-7.02,0-14.04,0-21.06,0-.88-.48-1.34-1.39-1.34-7.34,0-14.68,0-22.02,0-.91,0-1.39.46-1.39,1.34,0,7.03,0,14.06,0,21.08,0,.86.49,1.33,1.38,1.33,3.16,0,6.31,0,9.47,0,.1,0,.2-.01.31-.02v-8.3c-.61,0-1.2,0-1.79,0-.43,0-.68-.23-.68-.63,0-1.15,0-2.3,0-3.45,0-.41.23-.63.67-.64.52,0,1.05,0,1.57,0,.19,0,.25-.06.25-.24,0-.57,0-1.13,0-1.7.06-2.83,2.45-5.13,5.4-5.18,1.25-.02,2.5,0,3.75,0,.53,0,.73.19.73.71,0,1.09,0,2.19,0,3.28,0,.53-.21.72-.75.72-1.14,0-2.29,0-3.43,0-.55,0-.77.21-.77.74,0,.46,0,.93,0,1.39,0,.08.01.16.02.27.13,0,.25,0,.36,0,1.27,0,2.54,0,3.81,0,.61,0,.83.27.73.85-.19,1.08-.38,2.15-.56,3.23-.08.47-.28.64-.78.64-1.08,0-2.17,0-3.25,0h-.31v8.32Z"/>
                          </g>
                        </g>
                      </svg>
                      <span>@kynkyny</span>
                     </a> 
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                      <img
                        srcset= "{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                        src="{{ block.settings.image | image_url: width: 400 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      
    </div>
  {%- endif -%}
  <hr>
  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                            {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          {% comment %} <small class="copyright__content">{{ powered_by_link }}</small> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</footer>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
  jQuery(document).on("click", ".currency_box span.inr_span", function(){
    jQuery(".currency-switcher li[data-value='INR']").trigger("click");
    jQuery(".currency_box span").removeClass("active_cur");
    jQuery(this).addClass("active_cur");    
    var price_img = jQuery(this).html();    
    jQuery(".currency_box_heading").html(price_img);    
  });
  jQuery(document).on("click", ".currency_box span.usd_span", function(){
    jQuery(".currency-switcher li[data-value='USD']").trigger("click");
    jQuery(".currency_box span").removeClass("active_cur");
    jQuery(this).addClass("active_cur");    
    var price_img = jQuery(this).html();    
    jQuery(".currency_box_heading").html(price_img);    
  });
</script>
{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}