{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .inquire-form {
    width: 100vw;
    height: 100%;
    border-radius: 0 !important;
  }

  .inquire_container {
    position: relative;
  }

  .close-inquire {
    position: absolute;
    top: -30%;
    right: 0%;
    z-index: 99;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .contact {
    width: 100% !important;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .close-inquire {
      top: -45%;
      font-weight: 600;
      font-size: 2.6rem;
    }
    .contact {
      width: 50% !important;
    }
  }
{%- endstyle -%}

<script>
  function close_inquire_Form() {
    document.querySelector(".inquire-form").style.display = 'none';
    document.body.style.overflow = 'visible';
    location.reload();
  }
</script>

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact hidden inquire-form page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | upcase }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields inquire_container">
        <div onclick="close_inquire_Form()" class="close-inquire">X</div>
        <div class="field">
          <input class="field__input" autocomplete="productname" type="text" id="ContactForm-gallery_code" name="contact[gallery_code]" value="{{ form.gallery_code  }}" placeholder="Product Code">
          <label class="field__label gallery_code" for="ContactForm-gallery_code">Gallery code ---</label>
        </div>
        

        <div class="field">
          <input required class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>        
        
        <div class="field field--with-error">
          <input
            required
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
      </div>

        <div class="field">
          <input class="field__input" autocomplete="country" type="text" id="ContactForm-country" name="contact[country]" value="{{ form.country }}" placeholder="Country">
          <label class="field__label" for="ContactForm-country">Country</label>
        </div>      

        <div class="field">
          <input class="field__input" autocomplete="City" type="text" id="ContactForm-city" name="contact[city]" value="{{ form.city }}" placeholder="City">
          <label class="field__label" for="ContactForm-city">City</label>
        </div>        

       <div class="select_field">
        <select name="contact[hear_about_us]">
          <option value="">HOW DID YOU HEAR ABOUT US?</option>
          <option value="Instagram">Instagram</option>
          <option value="Facebook">Facebook</option>
          <option value="Google Search">Google Search</option>
          <option value="Family & Friends">Family & Friends</option>
          <option value="Others">Others</option>
        </select>
        </div>


      <div class="field">
        <input required type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9]{10}" maxlength="10" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
  <script>
    document.getElementById('ContactForm-email').oninvalid = function(event) {
      event.target.setCustomValidity('Please enter a valid email');
    };
  
    document.getElementById('ContactForm-phone').oninvalid = function(event) {
      event.target.setCustomValidity('Please enter a valid contact number');
    };
  
    document.getElementById('ContactForm-email').oninput = function(event) {
      event.target.setCustomValidity('');
    };
  
    document.getElementById('ContactForm-phone').oninput = function(event) {
      event.target.setCustomValidity('');
    };
  </script>   
</div>

{% schema %}
{
  "name": "Inquire Form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Inquire Form"
    }
  ]
}
{% endschema %}
